.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    float: right;
    button:disabled {
            background: #ccc !important;
            color: #fff !important;
            cursor: not-allowed !important;
        }
}
.pagination-button {
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #ddd;
    }
    &.active {
        background-color: brown;
        color: #fff;
        border: 1px solid brown;
    }

    
}