.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 100000;
    thead tr {
            background-color: brown;
            color: #ffffff;
            text-align: left;
            border-radius: 5px 0px 0px 5px;
        }
        th,td{
            padding: 20px 15px;
        }

                tbody tr {
                    border-bottom: 1px solid #dddddd;
                    color: #352f2f;
                    &:nth-of-type(even) {
                            background-color: #fff;
                            color: #002;
                        }
                        &:last-of-type {
                            border-bottom: 2px solid brown;
                        }
                        &.active-row {
                            font-weight: bold;
                            color: brown;
                        }
                }
                .btn{
                    cursor: pointer;
                    color: #fff;
                    background: brown;
                    padding: 5px 10px;
                    border-radius: 4px;
                    border: 0;
                    outline: 0;
                }
                .modal{
                    width: 200px;
                    min-height: 200px !important;
                    form{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        button{
                            cursor: pointer;
                                color: #fff;
                                background: brown;
                                padding: 10px;
                                border-radius: 4px;
                                border: 0;
                                outline: 0;
                                width: 100%;
                                &:disabled{
                                    background: #ccc;
                                    
                                }
                        }
                    }
                    .form-control{
                        label{
                            margin: 5px 0;
                        }
                        input{
                            width: calc(100% - 20px);
                            padding: 10px;
                            border-radius: 5px;
                            outline: 0;
                            margin: 10px 0;
                        }
                    }
                    .flex{
                        display: flex;
                        justify-content: space-between;
                        font-size: 17px;
                        position: relative;
                    }
                }
}