.main{
    width: calc(100vw - 420px);
    position: relative;
    .button{
        position: absolute;
        padding: 10px 20px;
        background: brown;
            right: 0px;
                top: -45px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        svg{
            top: 10px;
        }
    }
    .card_container{
        top: 30px;
    }
    .flex{
        display: grid;
        grid-template-columns: 70% 25%;
        gap: 5%;
        position: absolute;
    }
    form{
        color: #002;
        .form-control{

             margin: 20px 0;
            label{
                width: 100%;
            }
                         input {
                             width: calc(100% - 40px);
                             padding: 15px 20px;
                             border-radius: 5px;
                            //  border: 0;
                             outline: 0;
                         }
            button{
background: brown;
color: #fff;
padding: 15px 20px;
width: 100%;
outline: 0;
border-radius: 5px;
border: 0;
cursor: pointer;
            }
        }
    }
}